// palette #1
$scooter:#3ec1d3;
$coconutCream: #f6f7d7;
$orangePeel: #ff9a00;
$radicalRed: #ff165d;
// palette #2
$padua: #a8e6cf;
$caper: #dcedc1;
$romantic: #ffd3b6;
$cornflowerLilac: #ffaaa5;
// paletter #3
$clairvoyant: hsl(291, 87%, 25%);
$plumBright: hsl(318, 49%, 58%);
$plumPale: hsl(318, 49%, 78%);
$cranberryBright: hsl(342, 66%, 68%);
$cranberryPale: hsl(342, 66%, 85%);
$monaLisa: #fe9797;