@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), url('./assets/fonts/opensans-regular.woff2'), url('./assets/fonts/opensans-regular.woff'), url('./assets/fonts/opensans-regular.ttf'), url('./assets/fonts/opensans-regular.eot');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local('OpenSans'), url('./assets/fonts/opensans-bold.woff2'), url('./assets/fonts/opensans-bold.woff'), url('./assets/fonts/opensans-bold.ttf'), url('./assets/fonts/opensans-bold.eot');
}