@import 'colors';
$headerBgColor: $clairvoyant;
// currencies table
$oddItemBgColor: $plumPale;
$evenItemBgColor: $cranberryPale;
$oddItemHoverBgColor: $plumBright;
$evenItemHoverBgColor: $cranberryBright;