@import './../../assets/common-styles/variables';
.currency {
  display: flex;
  align-items: center;
  padding: 0 .5em;
  height: 2.8em;
  cursor: default;
  transition: background .2s ease-out;
  &:hover {
    background: grey;
  }
  &:nth-child(odd) {
    background: $oddItemBgColor;
    &:hover {
      background: $oddItemHoverBgColor;
    }
  }
  &:nth-child(even) {
    background: $evenItemBgColor;
    &:hover {
      background: $evenItemHoverBgColor;
    }
  }
  &__seq-number {
    width: 5ch;
    padding-right: 1.2em;
    font-weight: bold;
    text-align: right;
  }
  &__img {
    padding-right: 1.2em;
    height: 2em;
  }
  &__name {
    width: 20ch;
  }
}